/* common element */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.hr1 {
    border: 2px;
    border-color: red;
    border-style: solid;
}

.maintitle {
    font-family: 'lobster', cursive;
    color: white;
    font-size: 120px;
    text-align: center;
}

.subtitle1 {
    font-family: 'lobster', cursive;
    color: white;
    font-size: 25px;
    text-align: center;
}

.subtitle2 {
    font-family: 'lobster', cursive;
    color: white;
    font-size: 25px;
    text-align: center;
}

/* navigation bar css starts*/

#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.591);
    height: 80px;
    align-items: center;
    font-family: 'abril fatface', cursive;
    position: sticky;
    top: 0px;
}

#logo {
    width: 15%;
}




#logoimg {
    height: 60px;
    margin: 12px 40px;
    border-radius: 25px;
}

/* navigationlink */
#navlinks {
    width: 70%;


}

#links {
    display: flex;
    list-style: none;
    /* text align center */
    justify-content: center;
}

.linkitem {}

.linka {
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

#links a:hover {
    background-color: azure;
    color: grey;
    transition: 1s;

}

.currentpage {
    border: 2px solid white;
    border-radius: 20px;
}


/* social media links */

#socialmedia {
    margin: 10px;
}

#socialmedia img {
    border-radius: 10px;
}

#socialmedia img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
    ;
    transition: 1s;
}


/* navigation bar css ends */

/* home content css starts here  */

#homecontent {
    height: 750px;
    background-image: url(platter-2009590_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lobster', cursive;
    color: white;
}


/* home content css ends here  */

/* Facilities CSS starts */
#facilities {
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    background-color: rgb(16, 2, 2);
}

#facilities img {
    height: 140px;
    margin-top: 2px;
}

.facilityclass {
    text-align: center;
    margin-top: 25px;
}


.facilitypara1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    margin: auto;
    font: bolder;
}

.facilitypara2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
    margin: auto;
}


/* Facilities CSS ends */
/* footer css */

#footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.591);
    height: 50px;
    font-family: 'abril fatface', cursive;
    justify-content: center;
    /* align-items: center; */
    line-height: 30px;
    align-content: center;
    color: white;
    font-family: 'abril fatface', cursive;

}